.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Alatsi, sans-serif;
}

body {
  margin: 0;
  font-family: inherit;
  background-color: #19283b;
  background-image: url(/assets/images/fondo.jpg);
}

/* header{
  width: 100%;
  height: 100vh;
} */

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  display: flex;
  align-items: center;
  float: left;
  color: white;
  margin-left: 30px;
}

.logo{
  width: 80px;
}

.bar-btn{
  cursor: pointer;
  margin-right: 40px;
  z-index: 2;
}

.bar-btn img{
  width: 40px;
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 0px;
  background-color: #19283b;
  /* backdrop-filter: blur(5px); */
  text-align: left;
  /* transition: all .5s; */
  z-index: 1;
}

.nav-menu li{
  color: white;
  font-size: 20px;
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-menu li:hover{
  font-size: 30px;
  transition: 0.5s;
}

.nav-menu li a{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color:green;
  transition: .3s ;
}

#check{
  display: none;
}


#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block;
}




.informacion {
  position: static;
  top: 15%;
  color: white;
  margin-left: 10%;
}

.informacion p {
  /* width: 480px; */
  width: 40%;
  margin-bottom: 50px;
  font-size: 20px;
  word-wrap: break-word;
}

.informacion h1,
.informacion .up {
  width: 200px;
  margin-bottom: 0px;
}

.informacion h1 {
  font-size: 80px;
}

.informacion .up {
  font-size: 60px;
  transition: 0.5s;
}

.informacion .down {
  width: 550px;
  font-size: 100px;
  margin: 0px 0px 0px 0px;
  color: #83d7c1;
  transition: 0.5s;
}


.start {
  background-color: #83d7c1;
  color: #19283b;
  border: none;
  padding: 18px 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.start:hover{
  background-color: #19283b;
  color: #83d7c1;
  transition: 0.5s;
}

.register {
  background-color: #19283b;
  color: #83d7c1;
  border: none;
  padding: 18px 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 30px;
}

.register:hover{
  background-color: #83d7c1;
  color: #19283b;
  transition: 0.5s;
}

.imagenes {
  right: 10px;
  position: absolute;
  top: 20%;
}

.imagenes img {
  height: 600px;
  display: none;
}



footer {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

@media (max-width: 1000px) {

  .informacion p{
    width: 90%;
  }

  .informacion h1{
    font-size: 10px;
    
  }

  .informacion .up{
    font-size: 30px;
    transition: 0.5s;
  }
  .informacion .down{
    width: 400px;
    font-size: 60px;
    transition: 0.5s;
  }




}
@media screen and (min-width: 768px){
  .logo{
    margin-left: 50px;
  }

  nav{
    height: 100px;
  }

  .bar-btn{
    display: none;
  }
  .nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;


    
  }

  .nav-menu li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .nav-menu li a{
    font-size: 12px;
  }

}