.mi-musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.musica-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff11;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 30px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

input[type="file"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  color: black;
}

button {
  background-color: #60a0b8;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a09e;
}

.lista-musica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.archivo-item {
  width: 300px;
  padding: 20px;
  background-color: #19283b;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archivo-item p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

audio {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.delete-button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

h2 {
  color: white;
}
