.mi-perfil {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.perfil-container {
  padding: 20px;
  flex-grow: 1;
  margin-left: 220px;
}

.perfil-info {
  background-color: rgba(255, 255, 255, 0.126);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}

.info-item {
  margin-bottom: 15px;
  font-size: 16px;
}

.info-item strong {
  font-weight: bold;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

body {
  font-family: Arial, sans-serif;
}

.mi-perfil p {
  text-align: center;
  font-size: 18px;
  color: #e71300;
}
