.registro-page {
  --background: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; 
}

.registro-content {
  --background: none;
  background-image: url('../images/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro-container {
  background-color: rgba(255, 255, 255, 0.099);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-color: aquamarine;
  margin: auto;
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

ion-item {
  border-radius: 20px;
  --background: rgba(255, 255, 255, 0.951);
 margin-top: 10px;
 width: 100%;
  
}
.registro-button {
  margin-top: 10px;
  margin-top: 20px;
  background-color: #19283b;
  border-radius: 15px;
  color: #83d7c1;
  transition: 0.5s;
}

.registro-button:hover{
  color: #19283b;
  background-color: #83d7c1;
  transition: 0.5s;
}

ion-label{
  color: white;
  margin-bottom: 100px;
}